@charset "utf-8";
/*
	Last Update:2019/10/11
	Auther: iw
*/
/*===================================================================
	#top
===================================================================*/
#top_main {    position: relative;}
#top_main .text .center { display:table; height:100%; }
#top_main .text_in { display:table-cell; }
#top_main #main_text .text_in > * { text-align:center; }
#top_main #main_text .logo { margin-bottom:30px; }
#top_main #main_text .logo img { max-width:125px; }
#top_main #main_text h2 { font-weight:bold; color:#fff;  font-family: 'Kosugi Maru', sans-serif;     letter-spacing: 4px;      text-shadow: 0px 1px 4px #0A0A0A;}
#top_main #main_text p { color:#7c7c7c; }
	@media (max-width: 767px){
		#top_main { padding-bottom:20px; }
		#top_main .text {     position: absolute; top: 17%; left: 50%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%);    width: 100%; }
		#top_main #main_text h2 {    font-size: 3em; text-shadow: 0px 1px 4px #0A0A0A, 0px 1px 4px #0A0A0A;}
	}
	@media (max-width: 575px){
		#top_main #main_text h2 {     text-shadow: 0px 1px 4px #0A0A0A, 0px 1px 4px #0A0A0A, 0px 1px 4px #0A0A0A;   font-size: 2em;}

	}
	@media (min-width: 768px){
		#top_main .text { position:absolute; top:80px; left:0; width:calc(100% - 10px); height:calc(100% - 180px); }
		#top_main #main_text .text_in { text-align:center; padding-top:50px; }
		#top_main #main_text h2 { font-size:2.5em; }
	}
	@media (min-width: 768px) and (max-width: 991px){
		#top_main #main_text h2 {font-size: 2.25em;}
		#top_main #main_text .logo,
		#top_main #main_text h2 { display:inline-block; vertical-align:middle; }
	}

#top_head_navi {}
#top_head_navi .center { padding-left:0; padding-right:0; }
#top_head_navi ul > li > a { color:#444;     text-decoration: none; }
#top_head_navi .sns { font-size:20px; }
	@media (max-width: 575px){
		#base.open #top_head_navi { top:65px; }
	}
	@media (min-width: 576px) and (max-width: 767px){
		#base.open #top_head_navi { top:80px; }
	}
	@media (max-width: 767px){
		#base:not(.open) #top_head_navi { display:none; }
		#top_head_navi { position:absolute; left:0; width:100%; background:#fff; }
		#top_head_navi li:not(.sns) { border-top:1px solid #ccc; }
		#top_head_navi li:not(.sns) > a { display:block; padding:10px 15px; }
		#top_head_navi .sns { text-align:center; padding:20px 0; }
	}
	@media (min-width: 768px){
		#top_head_navi {     background: #fff; padding: 20px 0; border-bottom: 1px solid #E8E8E8; border-top: 1px solid #8EC31F; }
		#top_head_navi ul { display:table; width:100%; height:100%; }
		#top_head_navi li { display:table-cell; vertical-align:middle; text-align:center; line-height:100%; }
		#top_head_navi li a { display: block; font-weight: bold; padding: 4px 10px 0; position: relative; }
		#top_head_navi li:not(.first):not(.sns) a:before { position: absolute; display: inline-block; content: '';    width: 2px; height: 90%; top: 0; left: 0; border-radius: 3px; background:#B5B5B5;; transform: rotate(20deg);}
		#top_head_navi li:not(.sns) a:after { content:""; display:block; margin:4px auto 0; width:0; height:4px; background:#8ec21f; transition:all 0.3s; }
		#top_head_navi .sns { display: flex;  justify-content: flex-end;}
		body.pc #top_head_navi li:not(.sns):hover a { color:#8ec21f; }
		body.pc #top_head_navi li:not(.sns):hover a:after { width:100%; }
	}
	@media (min-width: 768px) and (max-width: 991px){
		#top_head_navi li { padding: 0 1px!important;}
		#top_head_navi li a {    padding: 4px 3px 0; letter-spacing: -3px;}
	}
	@media (max-width: 1199px){
		#top_head_navi .center { padding-left: 10px; padding-right: 10px;}
	}


#top_about { position:relative; }
#top_about .text { position:absolute; top:0; left:0; width:100%; height:100%; }
#top_about .text .center { display:table; height:100%; }
#top_about .text .text_in { display:table-cell; vertical-align:middle; }
#top_about .text h2 {    text-align: center; font-family: 'Kosugi Maru', sans-serif; font-size: 2.5em; font-weight: bold; letter-spacing: 5px; margin-bottom: 20px; }
#top_about .text p { line-height:200%; }
@media  (max-width:1599px){
	#top_about .text .button a{ margin-bottom: 50px;}
}
@media  (max-width: 991px){
	#top_about .img_back { opacity: 0.5;}
	#top_about .text h2 {    text-shadow: 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff;}
}
@media (max-width: 575px){
	#top_about  { padding:60px 0; }
	#top_about .photo { position:absolute; top:0; left:0; width:100%; height:100%;     background-position: right center; opacity:0.4; }
	#top_about .text { position:relative; }
	#top_about .text h2 {    width: 100%; font-size: 1.25em; text-align: left; margin-bottom: 10px; }
}
@media (min-width: 576px){
	#top_about .text .text_in > * { max-width:550px; }
	#top_about .text { position:absolute; top:0; left:0; width:100%; height:100%; }
}
@media  (min-width: 576px) and (max-width: 767px){
	#top_about .img_back {  min-height: 300px;}
	#top_about .text .button{    margin: 0 auto;}
}
@media  (min-width: 768px) and (max-width: 991px){
	#top_about .img_back {min-height: 350px;}
}


#top_curriculum {background: url(../image/contents/top/curriculum_back.png) no-repeat top center / cover; margin-top: -130px; position: relative;}
#top_curriculum .unit{border-radius: 5px; background: #fff;}
#top_curriculum .unit._1{border: 3px solid #F6CCCC;}
#top_curriculum .unit._2{border: 3px solid #F6DCCC;}
#top_curriculum .unit._3{border: 3px solid #CCE8F6;}

#top_curriculum .text .img{border-bottom: 1px dashed #E5E5E5; padding-bottom: 10px;}
#top_curriculum .text{padding: 15px;}
#top_curriculum .unit._1 .text img,#top_curriculum .unit._3 .text img{width: 180px;}
#top_curriculum .unit._2 .text img{width: 250px;}
#top_curriculum .hl_1 .img img{ width: 90px;}

@media (max-width: 575px){
	#top_curriculum .mb100{margin-bottom: 30px!important;}
	#top_curriculum .mt50{margin-bottom: 50px;}
	#top_curriculum { margin-top: -35px;}
}
@media (min-width: 576px){
	#top_curriculum .unit_box{margin-bottom: 20px;}
	#top_curriculum .mt50{margin-top: 50px;}
}
@media (min-width: 576px) and (max-width: 767px){
	#top_curriculum { margin-top: -40px;}
}
@media (min-width: 768px) and (max-width: 991px){
	#top_curriculum {margin-top: -50px;}
}
@media  (min-width: 992px) and (max-width: 1199px){
	#top_curriculum {    margin-top: -60px;}
}
@media  (min-width:1200px) and (max-width: 1300px){
	#top_curriculum {    margin-top: -80px;}
}


#top_news {background: url(../image/contents/top/news_back.png) no-repeat top center / cover;margin-top: -130px; position: relative;}
#top_news .hl_1 .img img{ width: 60px;}

#top_news .tab_unit a{color: #000; display: block; text-decoration: none;}
#top_news .tab_unit .tab{ border: 1px solid #8EC31F; background: #fff; padding: 10px 0;     position: relative; font-weight: bold;}
#top_news .tab_unit .tab.first{border-radius: 10px 0 0 10px;}
#top_news .tab_unit .tab.last{border-radius: 0 10px 10px 0;}
#top_news .active a{color: #fff;}
#top_news .active a .tab{ background: #8EC31F; }
#top_news .active a .tab::before { content: ''; position: absolute; bottom: -28px; left: 50%; margin-left: -14px; border: 14px solid transparent; border-top-color: #8EC31F;}
#top_news .news_unit a{display: block;     text-decoration: none;}
#top_news .news_unit{background: #fff; padding: 15px; margin-bottom: 30px;     border-radius: 10px; position: relative; overflow: hidden;}
#top_news .news_unit .triangle { position: absolute; right: 0; bottom: 0; width: 0; height: 0; border-style: solid; border-width: 0 0 40px 40px; border-color: transparent transparent #8EC31F transparent;}
#top_news .news_unit .triangle._event {border-color: transparent transparent #006935 transparent;}
#top_news .news_unit .title{font-size: 1.25em; color: #626262; text-decoration: underline;}
#top_news .news_unit .cat{color: #fff; border-radius: 50px; padding: 3px 15px;
    margin-right: 9px;}
#top_news .news_unit .sub{    margin-bottom: 10px; }
#top_news .news_unit .cat._news{background: #8EC31F; }
#top_news .news_unit .cat._event{background: #006935; }
#top_news .news_unit .date{color: #888888; font-weight: bold;}
#top_news .news_unit i.fa-arrow-right{position: absolute; right: 5px; bottom: 5px; color: #fff;}
@media (max-width: 991px){
	#top_news .news_unit .sub {margin-top: 15px;}
}
@media (max-width: 575px){
	#top_news {  margin-top: -40px;}
}
/*===================================================================
	common
===================================================================*/
/*box-shadow用*/
.box { box-shadow:0 0 5px #ccc; }



/*===================================================================
	contact
===================================================================*/


/*===================================================================
	#entry
===================================================================*/


/*===================================================================
	hl
===================================================================*/
.hl_1 .img {display: block;}
.hl_1 .main{font-size: 3.5em; letter-spacing: 5px;     line-height: 70px;}
.hl_1 .main span:nth-child(2n+1){color:#8EC31F;}
.hl_1 .main span:nth-child(2n){color:#006935;}
.hl_1 .sub{display: block; letter-spacing: 3px;}

@media (max-width: 575px){
	.hl_1 .main {font-size: 2.5em;}
}

/*===================================================================
	button
===================================================================*/
.button{font-weight: bold;display:block; position:relative; text-align:center; background: #fff; max-width: 260px!important; border-radius: 50px; box-shadow: 0 2px 3px #ccc; }
.button a._type1{ padding: 10px 0; display: block; color: #8EC31F; text-decoration: none;}
.button i.fa-caret-right {position: absolute; right: 10px; font-size: 20px; top: 50%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%);}


/*===================================================================
	color
===================================================================*/
/* background */
.bg_green {background:#006935}
.bg_lgreen { background:#8EC31F; }

.c_ { color:#444 !important; }
.c0 { color:#fff !important; }
.c_green {color:#006935}
.c_lgreen { color:#8EC31F; }



/*===================================================================
	pc / sp
===================================================================*/
.mb0  { margin-bottom:0 !important; }
.mb5  { margin-bottom:5px !important; }
.mb10 { margin-bottom:10px !important; }
.mb20 { margin-bottom:20px !important; }
.mb30 { margin-bottom:30px !important; }
.mb40 { margin-bottom:40px !important; }
.mb50 { margin-bottom:50px !important; }
.mb60 { margin-bottom:60px !important; }
.mb70 { margin-bottom:70px !important; }
.mb80 { margin-bottom:80px !important; }
.mb90 { margin-bottom:90px !important; }
.mb100 { margin-bottom:100px !important; }

.disp_b { display:block; }
.disp_ib { display:inline-block; }
.disp_tbl { display:table; width:100%; height:100%; }
.disp_tbl2 { display:table;}
.disp_td { display:table-cell; vertical-align:middle; }


.flex{display: flex!important;}
.flex_c{display: flex; align-items: center; justify-content: center;}

.m0auto{margin: 0 auto;}

.img_sq, .img_rect, .img_back { background-position:center center; background-repeat:no-repeat; background-size:cover; }
.img_sq > img, .img_rect > img, .img_back > img { visibility:hidden; }

.parallax, .parallax:before, .parallax:after { transition:all .7s; }
body.pc .parallax[data-parallax-in="vertical"],
body.pc .parallax[data-parallax-in="vertical2"],
body.pc .parallax[data-parallax-in="vertical3"],
body.pc .parallax[data-parallax-in="vertical4"]  { opacity:1; transform:translateY(0); -webkit-transform:translateY(0); -ms-transform:translateY(0); }
body.pc .parallax[data-parallax-in="vertical"]:not(.parallax_on),
body.pc .parallax[data-parallax-in="vertical2"]:not(.parallax_on),
body.pc .parallax[data-parallax-in="vertical3"]:not(.parallax_on),
body.pc .parallax[data-parallax-in="vertical4"]:not(.parallax_on) { opacity:0 !important; }
body.pc .parallax[data-parallax-in="vertical"]:not(.parallax_on)  { transform:translateY(30px); -webkit-transform:translateY(30px); -ms-transform:translateY(30px); }
body.pc .parallax[data-parallax-in="vertical2"]:not(.parallax_on) { transform:translateY(60px); -webkit-transform:translateY(60px); -ms-transform:translateY(60px); }
body.pc .parallax[data-parallax-in="vertical3"]:not(.parallax_on) { transform:translateY(90px); -webkit-transform:translateY(90px); -ms-transform:translateY(90px); }
body.pc .parallax[data-parallax-in="vertical4"]:not(.parallax_on) { transform:translateY(120px); -webkit-transform:translateY(120px); -ms-transform:translateY(90px); }
body.pc .parallax[data-parallax-in="left"] { left:0; }
body.pc .parallax[data-parallax-in="left"]:not(.parallax_on) { left:-100vw; }
body.pc .parallax[data-parallax-in="right"] { right:0; }
body.pc .parallax[data-parallax-in="right"]:not(.parallax_on) { right:-100vw; }

/* font */
.mincho { font-family:"ヒラギノ明朝 ProN W3","Hiragino Mincho ProN","Sawarabi Mincho","游明朝","YuMincho","HG明朝E","ＭＳ Ｐ明朝","ＭＳ 明朝",serif; }
.sans { font-family:'Yantramanav', sans-serif; }
.fa_b:before,
.fa_a:after { font-family:"Font Awesome 5 Free"; display:inline-block; font-weight:900; font-style:normal; font-variant:normal; text-rendering:auto;
	line-height:1; -moz-osx-font-smoothing:grayscale; -webkit-font-smoothing:antialiased; }

@media (min-width: 768px){
	.pc_none { display:none !important; }
}
@media (max-width: 767px){
	.sp_none { display:none !important; }
	.sp_table_wrap { overflow-x:auto; width:100%; white-space:nowrap; }
	.sp_table_wrap::-webkit-scrollbar { height:10px; }
	.sp_table_wrap::-webkit-scrollbar-track { background:#F1F1F1; }
	.sp_table_wrap::-webkit-scrollbar-thumb { background:#BCBCBC; }
	.sp_table_wrap table { width:100%; font-size:13px;
		-webkit-text-size-adjust:100%; -moz-text-size-adjust:none; -ms-text-size-adjust:100%; text-size-adjust:100%; }
}
