@charset "utf-8";
/*
	Last Update:2019/10/11
	Auther: iw
*/
/*===================================================================
	#top
===================================================================*/
#top_main {    position: relative;}
#top_main .text .center { display:table; height:100%; }
#top_main .text_in { display:table-cell; }
#top_main #main_text .text_in > * { text-align:center; }
#top_main #main_text .logo { margin-bottom:30px; }
#top_main #main_text .logo img { max-width:125px; }
#top_main #main_text h2 { font-weight:bold; color:#fff;  font-family: 'Kosugi Maru', sans-serif;     letter-spacing: 4px;      text-shadow: 0px 1px 4px #0A0A0A;}
#top_main #main_text p { color:#7c7c7c; }
	@media (max-width: 767px){
		#top_main { padding-bottom:20px; }
		#top_main .text {     position: absolute; top: 17%; left: 50%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%);    width: 100%; }
		#top_main #main_text h2 {    font-size: 3em; text-shadow: 0px 1px 4px #0A0A0A, 0px 1px 4px #0A0A0A;}
	}
	@media (max-width: 575px){
		#top_main #main_text h2 {     text-shadow: 0px 1px 4px #0A0A0A, 0px 1px 4px #0A0A0A, 0px 1px 4px #0A0A0A;   font-size: 2em;}

	}
	@media (min-width: 768px){
		#top_main .text { position:absolute; top:80px; left:0; width:calc(100% - 10px); height:calc(100% - 180px); }
		#top_main #main_text .text_in { text-align:center; padding-top:50px; }
		#top_main #main_text h2 { font-size:2.5em; }
	}
	@media (min-width: 768px) and (max-width: 991px){
		#top_main #main_text h2 {font-size: 2.25em;}
		#top_main #main_text .logo,
		#top_main #main_text h2 { display:inline-block; vertical-align:middle; }
	}

#top_head_navi {}
#top_head_navi .center { padding-left:0; padding-right:0; }
#top_head_navi ul > li > a { color:#444;     text-decoration: none; }
#top_head_navi .sns { font-size:20px; }
	@media (max-width: 575px){
		#base.open #top_head_navi { top:65px; }
	}
	@media (min-width: 576px) and (max-width: 767px){
		#base.open #top_head_navi { top:80px; }
	}
	@media (max-width: 767px){
		#base:not(.open) #top_head_navi { display:none; }
		#top_head_navi { position:absolute; left:0; width:100%; background:#fff; }
		#top_head_navi li:not(.sns) { border-top:1px solid #ccc; }
		#top_head_navi li:not(.sns) > a { display:block; padding:10px 15px; }
		#top_head_navi .sns { text-align:center; padding:20px 0; }
	}
	@media (min-width: 768px){
		#top_head_navi {     background: #fff; padding: 20px 0; border-bottom: 1px solid #E8E8E8; border-top: 1px solid #8EC31F; }
		#top_head_navi ul { display:table; width:100%; height:100%; }
		#top_head_navi li { display:table-cell; vertical-align:middle; text-align:center; line-height:100%; }
		#top_head_navi li a { display: block; font-weight: bold; padding: 4px 10px 0; position: relative; }
		#top_head_navi li:not(.first):not(.sns) a:before { position: absolute; display: inline-block; content: '';    width: 2px; height: 90%; top: 0; left: 0; border-radius: 3px; background:#B5B5B5;; transform: rotate(20deg);}
		#top_head_navi li:not(.sns) a:after { content:""; display:block; margin:4px auto 0; width:0; height:4px; background:#8ec21f; transition:all 0.3s; }
		#top_head_navi .sns { display: flex;  justify-content: flex-end;}
		body.pc #top_head_navi li:not(.sns):hover a { color:#8ec21f; }
		body.pc #top_head_navi li:not(.sns):hover a:after { width:100%; }
	}
	@media (min-width: 768px) and (max-width: 991px){
		#top_head_navi li { padding: 0 1px!important;}
		#top_head_navi li a {    padding: 4px 3px 0; letter-spacing: -3px;}
	}
	@media (max-width: 1199px){
		#top_head_navi .center { padding-left: 10px; padding-right: 10px;}
	}


#top_about { position:relative; }
#top_about .text { position:absolute; top:0; left:0; width:100%; height:100%; }
#top_about .text .center { display:table; height:100%; }
#top_about .text .text_in { display:table-cell; vertical-align:middle; }
#top_about .text h2 {    text-align: center; font-family: 'Kosugi Maru', sans-serif; font-size: 2.5em; font-weight: bold; letter-spacing: 5px; margin-bottom: 20px; }
#top_about .text p { line-height:200%; }
@media  (max-width:1599px){
	#top_about .text .button a{ margin-bottom: 50px;}
}
@media  (max-width: 991px){
	#top_about .img_back { opacity: 0.5;}
	#top_about .text h2 {    text-shadow: 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff;}
}
@media (max-width: 575px){
	#top_about  { padding:60px 0; }
	#top_about .photo { position:absolute; top:0; left:0; width:100%; height:100%;     background-position: right center; opacity:0.4; }
	#top_about .text { position:relative; }
	#top_about .text h2 {    width: 100%; font-size: 1.25em; text-align: left; margin-bottom: 10px; }
}
@media (min-width: 576px){
	#top_about .text .text_in > * { max-width:550px; }
	#top_about .text { position:absolute; top:0; left:0; width:100%; height:100%; }
}
@media  (min-width: 576px) and (max-width: 767px){
	#top_about .img_back {  min-height: 300px;}
	#top_about .text .button{    margin: 0 auto;}
}
@media  (min-width: 768px) and (max-width: 991px){
	#top_about .img_back {min-height: 350px;}
}


#top_curriculum {background: url(../image/contents/top/curriculum_back.png) no-repeat top center / cover; margin-top: -170px; position: relative;}
#top_curriculum .unit{border-radius: 5px; background: #fff;}
#top_curriculum .unit._1{border: 3px solid #F6CCCC;}
#top_curriculum .unit._2{border: 3px solid #F6DCCC;}
#top_curriculum .unit._3{border: 3px solid #CCE8F6;}

#top_curriculum .text .img{border-bottom: 1px dashed #E5E5E5; padding-bottom: 10px;}
#top_curriculum .text{padding: 15px;}
#top_curriculum .unit._1 .text img,#top_curriculum .unit._3 .text img{width: 180px;}
#top_curriculum .unit._2 .text img{width: 250px;}
#top_curriculum .hl_1 .img img{ width: 90px;}

@media (max-width: 575px){
	#top_curriculum .mb100{margin-bottom: 30px!important;}
	#top_curriculum .mt50{margin-bottom: 50px;}
	#top_curriculum { margin-top: -35px;}
}
@media (min-width: 576px){
	#top_curriculum .unit_box{margin-bottom: 20px;}
	#top_curriculum .mt50{margin-top: 50px;}
}
@media (min-width: 576px) and (max-width: 767px){
	#top_curriculum { margin-top: -40px;}
}
@media (min-width: 768px) and (max-width: 991px){
	#top_curriculum {margin-top: -50px;}
}
@media  (min-width: 992px) and (max-width: 1199px){
	#top_curriculum {    margin-top: -60px;}
}
@media  (min-width:1200px) and (max-width: 1300px){
	#top_curriculum {    margin-top: -80px;}
}
@media  (min-width:1301px) and (max-width: 1599px){
	#top_curriculum {    margin-top: -100px;}
}

#top_news {background: url(../image/contents/top/news_back.png) no-repeat top center / cover;margin-top: -130px; position: relative;}
#top_news .hl_1 .img img{ width: 60px;}

#top_news .tab_unit a{color: #000; display: block; text-decoration: none;}
#top_news .tab_unit .tab{ border: 1px solid #8EC31F; background: #fff; padding: 10px 0;     position: relative; font-weight: bold;}
#top_news .tab_unit .tab.first{border-radius: 10px 0 0 10px;}
#top_news .tab_unit .tab.last{border-radius: 0 10px 10px 0;}
#top_news .active a{color: #fff;}
#top_news .active a .tab{ background: #8EC31F; }
#top_news .active a .tab::before { content: ''; position: absolute; bottom: -28px; left: 50%; margin-left: -14px; border: 14px solid transparent; border-top-color: #8EC31F;}
#top_news .news_unit a{display: block;     text-decoration: none;}
#top_news .news_unit{background: #fff; padding: 15px; margin-bottom: 30px;     border-radius: 10px; position: relative; overflow: hidden;}
.news_unit .triangle { position: absolute; right: 0; bottom: 0; width: 0; height: 0; border-style: solid; border-width: 0 0 40px 40px; border-color: transparent transparent #8EC31F transparent;}
.news_unit .triangle._event {border-color: transparent transparent #006935 transparent;}
#top_news .news_unit .title{font-size: 1.25em; color: #626262; text-decoration: underline;}
.news_unit .cat{color: #fff; border-radius: 50px; padding: 3px 15px;
    margin-right: 9px;}
.news_unit .sub{    margin-bottom: 10px; }
.news_unit .cat._news{background: #8EC31F; }
.news_unit .cat._event{background: #006935; }
.news_unit .date{color: #888888; font-weight: bold;}
.news_unit i.fa-arrow-right{position: absolute; right: 5px; bottom: 5px; color: #fff;}
@media (max-width: 991px){
	#top_news .news_unit .sub {margin-top: 15px;}
}
@media (max-width: 575px){
	#top_news {  margin-top: -40px;}
}


/*===================================================================
	#curriculum
===================================================================*/
#curriculum  .curriculum_img  h3{       text-shadow: 2px 2px 0 #fff;   margin-left: 30px;    max-width: 500px; color: #8EC31F; font-weight: bold; text-align: center; font-size: 3em; letter-spacing: 5px;}
#curriculum  .curriculum_img  h3 span{    display: block; color: #9D9D9D; font-size: 0.5em;}
#curriculum  .curriculum_img .name{color: #626262;}
#curriculum  .curriculum_img .disp_td{padding: 0 50px;}

#curriculum .thought .unit .number{    font-size: 5em; font-weight: bold; color: #8EC31F; font-family: 'Roboto', sans-serif;}
#curriculum .thought{    background: #F3F8F4; padding: 25px 30px;}
#curriculum .thought .unit{  background: #FFF;}
#curriculum .thought .unit .text{line-height: 35px; }
#curriculum .thought .unit .text._3{padding: 25px 0;}
#curriculum .curriculum_img{    border: 2px solid #F2F2F2; border-radius: 5px; overflow: hidden; position: relative;}

@media (max-width: 1199px){
	#curriculum #page_title h2 {letter-spacing: 1px;}
}
@media (max-width: 767px){
	#curriculum .curriculum_img .disp_td {padding: 0px 10px;}
	#curriculum .curriculum_img h3 {margin-left: 15px; font-size: 2em; max-width: 300px;}
}
@media (min-width: 576px){
	#curriculum .thought .unit .text{margin-right: 30px;}
	#curriculum .curriculum_img .disp_tbl{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%);}
}
@media (min-width: 576px) and (max-width: 991px){
	#curriculum .curriculum_img .name {letter-spacing: -1px;}
	#curriculum .curriculum_img .disp_td { padding: 0 10px;}
}
@media (max-width: 575px){
	#curriculum .thought .unit .text {padding: 0 15px 15px!important;}
	#curriculum .curriculum_img {padding-top: 15px;}
	#curriculum .curriculum_img  h3{margin-left: 0; font-size: 1.75em; max-width: 100%;}
	#curriculum  .curriculum_img .name{margin-bottom: 20px;}
}

/*===================================================================
	#teacher
===================================================================*/
#teacher .hl_name {border-bottom:1px solid #E2E2E2; line-height:100%;    margin-bottom: 10px; }
#teacher .hl_name .name { color: #8EC31F; font-weight:bold; margin-right:20px; }
#teacher .hl_name .en { color:#CCCCCC; }
#teacher  .name_info{background: #F8F8F8; width: 100%;}
#teacher .teacher_unit .logo{width: 200px; position: absolute; top: 50%; right: -100px;; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%);}
#teacher .teacher_unit .tag{    color: #333333; font-weight: bold; font-size: 1.25em;}
#teacher .teacher_unit .text_unit{border: 2px dotted #8EC31F; padding: 20px 30px; margin-top: 10px; margin-bottom: 50px;}

	@media (max-width: 575px){
		#teacher .teacher_unit .logo { right: -80px;   width: 160px;}
		#teacher .teacher_unit .photo img{    width: 100%; height: 100%; object-fit: contain;}
		#teacher .disp_td { padding:30px; }
		#teacher .hl_name > * { vertical-align:baseline; }
		#teacher .hl_name .name { font-size:2.75em; margin-right:10px; }
		#teacher .hl_name .en { font-size:1.5em;     display: block; line-height: 50px;}
	}
	@media (min-width: 576px){
		#teacher .hl_name { padding-bottom: 25px;}
		#teacher  .name_info .left{    max-width: 400px; margin-left: 40px;}
		#teacher .border_l { border-left:10px solid #3A8F4A; }
		#teacher .hl_name > * { vertical-align:middle; }
		#teacher .hl_name .name { font-size: 2.5em;}
		#teacher .hl_name .en { font-size:1.15em; }
	}

	@media (min-width: 576px) and (max-width: 1199px){
		#teacher .teacher_unit .logo {  width: 130px;  right: -65px;}
	}
/*===================================================================
	#news
===================================================================*/

#news .news_box a { color: #fff; text-decoration: none; display: block; border: 2px solid #F2F2F2; border-radius: 10px; overflow: hidden; position: relative;}
#news .news_box h3{  text-decoration: underline; color: #626262; font-weight: bold;}
#news .news_box .text_unit{background: #FAFAFA; padding: 15px;}

.new_triangle{  autoposition: relative;}
.new_triangle::before {content: "";top: 0;left: 0;border-bottom: 4em solid transparent;border-left: 4em solid #FF5353; position: absolute;z-index: 100;}
.new_triangle::after {content: "NEW";display: block;top: 5px;transform: rotate(-45deg);color: #fff; left: 0;position: absolute;z-index: 101;}

#news #detail .hl_2 span.border{ display: block; }
#news #detail .news_unit .sub {font-size: 0.75em; margin-left: 20px;}
#news #detail .news_unit .cat {    font-size: 0.9em;     padding: 0px 15px;}

/*===================================================================
	#school
===================================================================*/
#school #page_title .center {    margin: 0 auto;}
#school #page_title h2 {    text-align: center;}
#school #page_title h2 .main {color: #fff; font-size: 1.75em; font-weight: bold; font-family: 'Kosugi Maru', sans-serif; background: #8EC31F; margin-bottom: 20px; display: block; max-width: 320px; margin: 0 auto; padding: 10px 0; border-radius: 50px;}


@media (max-width: 1199px) and (min-width: 992px){
	#school #head .head_contact .time {    font-size: 13px;}
	#school #head li.head_contact .tel { font-size: 2em;}
	#school #head #head_navi li.head_contact .tel img { width: 35px;}
	#school #head_navi li.head_contact { max-width: 235px; padding-right: 10px;}
	#school #head .site_logo img { max-width: 120px;}
}
@media (min-width: 1345px) and (max-width: 1599px){
	#school #head_navi li:not(.head_contact) a {padding: 0 15px;}
}
@media (max-width: 767px){
	#school #page_title .img_back {min-height: 150px;}
	#school #page_title h2 {text-shadow: none;}
}
@media (max-width: 575px){
	#school #page_title h2 .sub {font-size: 1.75em;}
}





#school_list .school_unit .triangle { position: absolute; right: 0; bottom: 0; width: 0; height: 0; border-style: solid; border-width: 0 0 40px 40px; border-color: transparent transparent #8EC31F transparent;}

#school #page_title h2 .sub {    font-size: 2em; color: #fff; font-weight: bold; margin-top: 20px;}

#school_list .school_box a { color: #626262; font-weight: bold; text-decoration: none; display: block; border: 2px solid #F2F2F2; border-radius: 10px; overflow: hidden; position: relative;}
#school_list .school_box h3{  font-weight: bold;  color: #8EC31F;  text-align: center}
#school_list .school_box .text_unit{background: #FAFAFA; padding: 15px;}
#school_list .school_unit i.fa-arrow-right{position: absolute; right: 5px; bottom: 5px; color: #fff;}
#school_list .school_box .photo img{    height: 175px; width: 100%; object-fit: cover;}

#school #top_main #main_text .text_in {  max-width: 280px; display: block; position: absolute; top: 50%; left: 0%; transform: translateY(-50%); -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%);  padding-top: 0;}
#school #top_main #main_text .text_in img { width: 250px;}
#school #top_main #main_text h2 { font-size: 2em; text-shadow: none; background: #8EC31F; border-radius: 50px; padding: 3px 15px;}
#school #top_main .text .center {    margin-left: 5%; margin-right: auto; position: relative;}

#school #top_about {background: url(../image/contents/school/top_about_back.jpg) no-repeat top center / cover; position: relative;  padding-bottom: 130px;}

#school #top_schedule {background: url(../image/contents/top/curriculum_back.png) no-repeat top center / cover; margin-top: -190px; position: relative;     padding-bottom: 100px;}
#school #top_schedule .hl_1 .img img { width: 60px;}
#school #top_about .hl_1 .img img { width: 75px;}

#school #top_main{padding: 0;}
@media (max-width: 1199px){
	#school #top_main #main_text .text_in img { width: 160px;}
}
@media (max-width: 991px){
	#school #top_main .text {top: 50%;     height: auto;}
	#school #top_main #main_text .text_in img {display: none;}
}
@media (max-width: 575px){
	#school #top_main #main_text h2 {font-size: 1.75em; }
	#school #top_about { padding: 0 0 100px 0;}
}

#school #top_info h3{font-size: 1.5em; font-weight: bold;}
#school #top_info .photo img{border-radius: 5px; }


#school #top_schedule .tag p span{margin-left: 5px; font-weight: bold; }
#school #top_schedule .tag p:before { content: ''; display: inline-block; position: relative; left: 0px; top: 0px;     width: 15px; height: 15px; border-radius: 2px;}
#school #top_schedule .tag p._1:before,#school #top_schedule span.curriculum._1 { background: #E83344;}
#school #top_schedule .tag p._2:before,#school #top_schedule span.curriculum._2 { background: #FF7E45;}
#school #top_schedule .tag p._3:before,#school #top_schedule span.curriculum._3 { background: #3EB6E2;}


#school #top_schedule table.schedule{table-layout: fixed;}
#school #top_schedule .scroll-table {     overflow-x: scroll;   white-space: nowrap;}
#school #top_schedule table.schedule{width: 100%; }
#school #top_schedule table.schedule th,#school #top_schedule table.schedule td{ display: inline-block; width: calc(100% / 7); min-width: 170px;}
#school #top_schedule table.schedule th{text-align: center; background: #FEFFF3; border: 1px solid #E5E5E5; padding: 5px 0;}
#school #top_schedule table.schedule td{background: #fff; border-bottom:  1px solid #D0D0D0; border-right: 1px solid #E5E5E5; border-left: 1px solid #E5E5E5;     padding: 10px 15px;  min-height: 300px;}

#school #top_schedule table.schedule td span{ display: block;     border-radius: 5px; word-break: break-all;
    white-space: normal;}
#school #top_schedule table.schedule td span.date{  text-align: center; font-weight: bold; margin-bottom: 15px;}

#school #top_schedule span.curriculum {margin-bottom: 5px;}
#school #top_schedule span.curriculum a{color: #fff;  display: block; padding: 5px;}

#school #top_news {    margin-top: -170px;}

#school .tbl{width: 100%;}
#school .tbl th{ padding: 20px 15px; width: 200px; text-align: left; background: #F8F8F8; border-right: 1px dashed #E2E2E2;}
#school .tbl tr:not(.first) th{ border-top: 1px dashed #E2E2E2;}
#school .tbl td{vertical-align: middle; border-bottom: 1px dashed #E2E2E2;     padding: 0 25px;}
#school .tbl tbody{    border-top: 1px solid #E2E2E2; border-bottom: 1px solid #E2E2E2;}

@media (min-width: 576px){
	#school #top_schedule .tag p {text-align: center;}
}
@media (max-width: 575px){
	#school #top_about .hl_1 {margin-bottom: 30px!important;}
	#school .tbl th,#school .tbl td{display: block;}
	#school .tbl th {    padding: 5px 10px; text-align: left;     width: 100%;
    border-right: none;}
	#school .tbl td{padding: 10px 10px 15px;}
}
/*===================================================================
	#access
===================================================================*/
#access .access_logo{    border: 2px solid #F2F2F2; padding: 50px 15px; border-radius: 5px;}
#access ul.access_info { list-style: none;}
#access ul.access_info li span{    margin-left: 3px;}
#access ul.access_info li:before {     content: ''; display: inline-block; position: relative; left: 0px; top: 0px; width: 10px; height: 10px; background: #8EC31F;}
/*===================================================================
	#privacy
===================================================================*/
#privacy .box p{padding: 0 10px;}
#privacy  h3{color: #8EC31F; font-weight: bold; font-size: 1.25em; border-bottom: 1px solid #DBDBDB; padding-bottom: 5px; margin-bottom: 5px;}
#privacy .privacy a{color: #444; text-decoration: none;}

@media (min-width: 768px) and (max-width: 1599px){
	#privacy #page_title h2 .main {letter-spacing: 1px;}
}
@media (max-width: 575px){
	#privacy #page_title h2 .main {letter-spacing: 1px;}
}
/*===================================================================
	#contact
===================================================================*/
#contact p.top_text{color: #939393;}
#contact p.c_red{color: #E44E4E;}
#contact #contact_unit{background: none;}
#contact .finish h2{font-size: 2em; text-align: center; color: #8EC31F; margin-bottom: 30px;}
#contact .datepicker{    background: #FAFAFA; border: 1px solid #FAFAFA; padding: 15px; width: 200px; letter-spacing: 5px;}
	/*===================================================================
		#entry
	===================================================================*/
	.entry table {    color: #4B4B4B;  width:100%; }
	.entry th,
	.entry td { padding:30px;  vertical-align: middle; }
	.entry thead th { background:#006b4d; color:#fff; font-weight:bold; }
	.entry thead td { background:#4b9681; color:#fff; font-weight:bold; }
	.entry tbody th {font-weight:bold;  position: relative;}
	.entry tbody tr > th:nth-child(1) {max-width:250px; }

	.entry tbody dd .zip_block{text-decoration: none; display: inline-block; color: #8EC31F; border: 1px solid #8EC31F; border-radius: 50px; padding: 5px 10px;}

	.entry td label{margin-right: 10px;}
	.entry td input[type="radio"] { position: absolute; opacity: 0;}
	.entry td label:before { content: ''; background: #f4f4f4; border-radius: 100%; border: 1px solid darken(#f4f4f4, 25%); display: inline-block; width: 2.5em; height: 2.5em; position: relative; top: 0; margin-right: 1em; vertical-align: middle; cursor: pointer; text-align: center; transition: all 250ms ease; margin-right: 5px;}
	.entry td input:checked + label:before {  background-color: #8EC31F;
    box-shadow: inset 0 0 0 6px #f4f4f4; }
	.entry th .md_br{display: none;}

	@media (min-width: 768px){
		.entry tbody th span{position: absolute; right:10px; transform: translateY(-50%); -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); top: 50%;}
		.entry tbody .first th, .entry tbody .first td {border-top: 25px solid #fff;}
		.entry tbody .last th, .entry tbody .last td {border-bottom: 25px solid #fff;}
		.entry tr:not(.last) th,.entry tr:not(.last) td {  border-bottom: 1px solid #ccc;}
		.entry .check tbody tr > th:nth-child(1) {max-width: 100px; }
	}
	@media (min-width: 768px) and (max-width: 991px){
		.entry td label:before {width: 1.75em; height: 1.75em;}
		.entry th .md_br {display: block;}
	}
	@media (min-width: 992px) {
		.entry tbody th {border-left: 50px solid #fff;}
		.entry tbody td {border-right: 50px solid #fff; }
	}
	@media (min-width: 768px) and (max-width: 1154px){
		.entry tbody tr > th:nth-child(1) { padding: 15px;}
		.entry tbody th span { position: absolute; right: -15px;}
		.entry .need {padding: 3px 3px;}
	}
	@media (max-width: 767px){
		.entry th{  border-bottom: 1px solid #ccc;}
		.tbl_form, .tbl_form tbody, .tbl_form tr, .tbl_form th, .tbl_form td {display: block;}
		.entry tbody tr > th:nth-child(1) {width: 100%; max-width: 100%;}
		.entry tbody td { border-left: 10px solid #FFF; border-right: 10px solid #fff;}
		.entry tbody th { border-left: 0px solid #fff;}
		.entry tbody th span {margin-left: 10px;}
		.entry th{padding: 15px; display: block;}
		.entry td{padding: 25px 15px 40px 15px; border-bottom: none;}

	}
	@media (max-width: 575px){
		.entry td label.sp_mb10 {margin-bottom: 10px;}
		.entry td label {display: block;}
		.entry tbody th.zoom{ letter-spacing: -1px;}
	}

/*===================================================================
	common
===================================================================*/
/*box-shadow用*/
.box { padding: 50px 30px; background: #fff; box-shadow: 0 0 5px #ccc; margin-bottom: 20px;}
@media (max-width: 575px){
	.box{padding: 30px 15px;}
}
#search{margin-bottom: 30px;}
#search .search_title{position: relative;}
#search .search_title p.title{    background: #8EC31F; color: #fff; text-align: center; padding: 15px 0; font-size: 1.5em; font-weight: bold;}
#search .search_title p.search_img{position: absolute; top: 50%; left: 0%; transform: translateY(-50%); -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); width: 70px;}
#search ul{    background: #F8F8F8; padding: 0 25px;}
#search ul li:not(.first) {    border-top: 1px dotted #C1C1C1;}
#search ul li a{color: #848484; display: block; padding: 15px 0;}
#search ul li a i{color: #8EC31F;     font-size: 20px; margin-right: 5px;}

.scroll { color: #fff; position: absolute; top: 50%; right: 0; width: 50px; transform: translateY(-50%); -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%);}
.scroll a { display:block; color:#FFF; text-align: center; text-decoration: none;}
.scroll i{ display:block; line-height: 10px;}
.blink {
    -webkit-animation: 1.5s linear 1s alternate none infinite running blink;
    -moz-animation: 1.5s linear 1s alternate none infinite running blink;
    animation: 1.5s linear 1s alternate none infinite running blink;
}
.blink2 {
    -webkit-animation: 1.5s linear 1.15s alternate none infinite running blink;
    -moz-animation: 1.5s linear 1.15s alternate none infinite running blink;
    animation: 1.5s linear 1.15s alternate none infinite running blink;
}
.blink3 {
    -webkit-animation: 1.5s linear 1.3s alternate none infinite running blink;
    -moz-animation: 1.5s linear 1.3s alternate none infinite running blink;
    animation: 1.5s linear 1.3s alternate none infinite running blink;
}

.blink4 {
    -webkit-animation: 1.5s linear 1.3s alternate none infinite running blink;
    -moz-animation: 1.5s linear 1.3s alternate none infinite running blink;
    animation: 1.5s linear 1.3s alternate none infinite running blink;
}
.blink5 {
	-webkit-animation: 1.5s linear 1.15s alternate none infinite running blink;
	-moz-animation: 1.5s linear 1.15s alternate none infinite running blink;
	animation: 1.5s linear 1.15s alternate none infinite running blink;
}
.blink6{
    -webkit-animation: 1.5s linear 1s alternate none infinite running blink;
    -moz-animation: 1.5s linear 1s alternate none infinite running blink;
    animation: 1.5s linear 1s alternate none infinite running blink;
}

@-webkit-keyframes blink {
    0% { opacity: 0; }
    20%,100% { opacity: 1; }
}
@-moz-keyframes blink {
    0% { opacity: 0; }
    20%,100% { opacity: 1; }
}
@keyframes blink {
    0% { opacity: 0; }
    20%,100% { opacity: 1; }
}



/*===================================================================
	hl
===================================================================*/
.hl_1 .img {display: block;}
.hl_1 .main{font-size: 3.5em; letter-spacing: 5px;     line-height: 70px;}
.hl_1 .main span:nth-child(2n+1){color:#8EC31F;}
.hl_1 .main span:nth-child(2n){color:#006935;}
.hl_1 .sub{display: block; letter-spacing: 3px;}

@media (max-width: 575px){
	.hl_1 .main {font-size: 2.5em;}
}

.hl_2{ border-bottom: 1px solid #E6E6E6; font-size: 1.75em; font-weight: bold; padding-bottom: 3px;}
.hl_2 span.border{position: relative; }
.hl_2 span.border::before{content: ''; display: inline-block; background: #8EC31F; height: 100%; width: 5px; position: absolute; margin-top: 3px;}
.hl_2 span.title {margin-left: 20px; display: inline-block;}

.hl_3{  background: #8EC31F; color: #fff; font-weight: bold; font-size: 1.5em; letter-spacing: 5px; padding: 5px 0; border-radius: 5px; text-align: center;}

.hl_4{ color: #8EC31F; font-size: 1.25em; font-weight: bold; letter-spacing: 1px; border-bottom: 2px solid #EAEAEA; padding-bottom: 5px}

/*===================================================================
	button
===================================================================*/
.button{font-weight: bold;display:block; position:relative; text-align:center; background: #fff; max-width: 260px!important; border-radius: 50px; box-shadow: 0 2px 3px #ccc; }
.button a._type1{ padding: 10px 0; display: block; color: #8EC31F; text-decoration: none;}
.button i.fa-caret-right {position: absolute; right: 10px; font-size: 20px; top: 50%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%);}
.button i.fa-caret-left {position: absolute; left: 10px; font-size: 20px; top: 50%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%);}

.button._back { color: #8EC31F!important; background: #fff!important;}
.form_button .button{    display: inline-block; text-align: center; position: relative; border: 1px solid #8EC31F; color: #fff; background: #8EC31F; padding: 15px 0px; min-width: 330px; border-radius: 50px; font-weight: bold}
.form_button .button:hover { top: -4px; box-shadow: 0 7px 0 #D6D6D6;}
.form_button .button:active { top: 3px; box-shadow: none;}


@media (max-width:767px){
	.form_button .button{ max-width: 250px; min-width: auto;}
	.button, a.button {width: 100%;}
	.form_button .right,.form_button .left{text-align: center;}
}

@media (min-width: 768px){
	.form_button._check .button{    min-width: 280px;}
	.form_button .right{text-align: right;}
}
/*===================================================================
	color
===================================================================*/
/* background */
.bg_green {background:#006935}
.bg_lgreen { background:#8EC31F; }

.c_ { color:#444 !important; }
.c0 { color:#fff !important; }
.c_green {color:#006935}
.c_lgreen { color:#8EC31F; }



/*===================================================================
	pc / sp
===================================================================*/
.mb0  { margin-bottom:0 !important; }
.mb5  { margin-bottom:5px !important; }
.mb10 { margin-bottom:10px !important; }
.mb20 { margin-bottom:20px !important; }
.mb30 { margin-bottom:30px !important; }
.mb40 { margin-bottom:40px !important; }
.mb50 { margin-bottom:50px !important; }
.mb60 { margin-bottom:60px !important; }
.mb70 { margin-bottom:70px !important; }
.mb80 { margin-bottom:80px !important; }
.mb90 { margin-bottom:90px !important; }
.mb100 { margin-bottom:100px !important; }

.disp_b { display:block; }
.disp_ib { display:inline-block; }
.disp_tbl { display:table; width:100%; height:100%; }
.disp_tbl2 { display:table;}
.disp_td { display:table-cell; vertical-align:middle; }


.flex{display: flex!important;}
.flex_c{display: flex; align-items: center; justify-content: center;}

.m0auto{margin: 0 auto;}

.img_sq, .img_rect, .img_back { background-position:center center; background-repeat:no-repeat; background-size:cover; }
.img_sq > img, .img_rect > img, .img_back > img { visibility:hidden; }

.parallax, .parallax:before, .parallax:after { transition:all .7s; }
body.pc .parallax[data-parallax-in="vertical"],
body.pc .parallax[data-parallax-in="vertical2"],
body.pc .parallax[data-parallax-in="vertical3"],
body.pc .parallax[data-parallax-in="vertical4"]  { opacity:1; transform:translateY(0); -webkit-transform:translateY(0); -ms-transform:translateY(0); }
body.pc .parallax[data-parallax-in="vertical"]:not(.parallax_on),
body.pc .parallax[data-parallax-in="vertical2"]:not(.parallax_on),
body.pc .parallax[data-parallax-in="vertical3"]:not(.parallax_on),
body.pc .parallax[data-parallax-in="vertical4"]:not(.parallax_on) { opacity:0 !important; }
body.pc .parallax[data-parallax-in="vertical"]:not(.parallax_on)  { transform:translateY(30px); -webkit-transform:translateY(30px); -ms-transform:translateY(30px); }
body.pc .parallax[data-parallax-in="vertical2"]:not(.parallax_on) { transform:translateY(60px); -webkit-transform:translateY(60px); -ms-transform:translateY(60px); }
body.pc .parallax[data-parallax-in="vertical3"]:not(.parallax_on) { transform:translateY(90px); -webkit-transform:translateY(90px); -ms-transform:translateY(90px); }
body.pc .parallax[data-parallax-in="vertical4"]:not(.parallax_on) { transform:translateY(120px); -webkit-transform:translateY(120px); -ms-transform:translateY(90px); }
body.pc .parallax[data-parallax-in="left"] { left:0; }
body.pc .parallax[data-parallax-in="left"]:not(.parallax_on) { left:-100vw; }
body.pc .parallax[data-parallax-in="right"] { right:0; }
body.pc .parallax[data-parallax-in="right"]:not(.parallax_on) { right:-100vw; }

/* font */
.mincho { font-family:"ヒラギノ明朝 ProN W3","Hiragino Mincho ProN","Sawarabi Mincho","游明朝","YuMincho","HG明朝E","ＭＳ Ｐ明朝","ＭＳ 明朝",serif; }
.sans { font-family:'Yantramanav', sans-serif; }
.fa_b:before,
.fa_a:after { font-family:"Font Awesome 5 Free"; display:inline-block; font-weight:900; font-style:normal; font-variant:normal; text-rendering:auto;
	line-height:1; -moz-osx-font-smoothing:grayscale; -webkit-font-smoothing:antialiased; }

@media (min-width: 768px){
	.pc_none { display:none !important; }
}
@media (max-width: 767px){
	.sp_none { display:none !important; }
	.sp_table_wrap { overflow-x:auto; width:100%; white-space:nowrap; }
	.sp_table_wrap::-webkit-scrollbar { height:10px; }
	.sp_table_wrap::-webkit-scrollbar-track { background:#F1F1F1; }
	.sp_table_wrap::-webkit-scrollbar-thumb { background:#BCBCBC; }
	.sp_table_wrap table { width:100%; font-size:13px;
		-webkit-text-size-adjust:100%; -moz-text-size-adjust:none; -ms-text-size-adjust:100%; text-size-adjust:100%; }
}
